body,
header,
div,
section,
img,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-size: 1.6rem;
  background: #53383a;
  color: #f6eed3;
}
p {
  display: block;
}
/*Configurações gerais*/

html {
  /*a cada 1rem será considerada 10px*/
  font-size: 62.5%;
}
/*header*/
.bg-head {
  height: 483px;
}
.bg-head__button-more {
  padding: 1rem;
  position: relative;
  bottom: 330px;
  left: 900px;
  border: 2px solid #efb576;
  color: #efb576;
  background: none;
}
/*configurando informações gerais*/
main {
  width: auto;
  max-width: 940px;
  margin: 0 auto;
}
.infos-basic__info-gerais {
  margin: 8vh 0 8vh 0;
  display: flex;
  justify-content: space-between;
}
.infos-basic div h1 {
  font-size: 3rem;
  text-align: center;
}
.infos-basic__info-gerais div p {
  max-width: 432px;
  font-size: 1.6rem;
}

/*informas cantores*/
.contain-cantor {
  max-width: 1400px;
  margin: 0 auto;
}
.contain__infos-cantores {
  width: auto;
  max-width: 940px;
  display: flex;
}
.contaion__cantores-info {
  background: #f6eed3;
  color: #53383a;
  width: 285px;
  height: 306px;
}

.contain__infos-cantores div p {
  padding: 1rem;
  margin: 32px 3px 0 0;
}
#infos div h1 {
  font-size: 3rem;
  text-align: center;
}
#infos div p {
  width: auto;
  max-width: 940px;
  margin-bottom: 32px;
  font-size: 1.6rem;
}

/*footer*/
footer {
  max-width: 1400px;
  margin: 0 auto;
}
#info-rodape {
  display: flex;
  justify-content: space-between;
}
#info-1 {
  width: 720px;
  background: #c6784a;
}
#info-1 p {
  height: auto;
  font-size: 1.6rem;
  text-align: center;
}
#info-2 {
  width: 720px;
  background: #efb576;
}
#info-2 p {
  font-size: 1.6rem;
  height: auto;
  text-align: center;
}
#info-rodape div h1 {
  font-size: 3rem;
  text-align: center;
}
#info-rodape div p {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 2rem 0 2rem;
  font-size: 1.6rem;
}
#rodape {
  width: auto;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3.2rem 0 3.2rem 0;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
